#searchpropclass{
    /* background-color:		rgba(216, 197, 197, 0.904); */
    background-color:		rgba(224, 235, 238, 0.904);
    /* box-sizing: border-box; */
    /* color:rgb(45, 3, 49); */
    color:#26617c;
    /* padding-top:100px; */
 
  
  }
#searchbuttoninhome{
   /* background-color: rgb(77, 4, 4); */
   background-color: #246583;
    color:rgb(238, 233, 233);
    font-weight: bold;
    
}
/* #thumbnailbutton{
  background-color: rgb(46, 13, 61);
  color:white;  

  
} */

#deletebuttoninimage{
  background-color: rgb(204, 24, 24);
  color:white;
  /* font-weight: bold; */
  
}
#addimagecaption{
  color:#26617c;
}
#propertiescontainer{
  display: grid;
  grid-template-columns: auto auto;
  background-color:#26617c;
  padding: 10px;
  border-radius: 10px;
}
#properties1{
  /* background-color:  rgb(87, 116, 94); */
  background-color:  #a3c4d3;
  border: 1px solid #26617c;
  color:rgb(0, 0, 0);
  padding: 8px;
  font-size: 15px;
  text-align: center;
}
#properties2{
  background-color:white;
  color:black;
  border: 1px solid #26617c;
  padding: 8px;
  font-size: 15px;
  text-align: center;
}
.footer{
  background-color:#26617c;
  color:white;

}
.feature-touch{
  color:white;
}
#linktagsinfooter{
  color:white;
}
#copyrightid{
  font-weight:100

}
#selectboxcolor{
  color: rgb(101, 31, 110);
 
}
#palink{
  color:#26617c;
  background-color:white;
  font-weight: bold;
  border-radius: 20px; 
}
/* .active .page-link{ background: rgb(77, 4, 4) !important } */

#pagination-link{
  color:#26617c;
  background-color:white;
  font-weight: bold;
} 
.active .page-link{ background: #26617c !important }  
.active .page-link{ color:white  !important }  

#borderimage{
  border: 1px solid #26617c;/* Gray border */
  border-radius: 4px;
  height:273.5px;
  width:100%;
  border-radius: 5px; 
  object-fit: contain;
}
#individualpropertyimages{
  /*height:550.5px;*/
  width:100%;
}
#propertydetails{
  background-color:  rgb(163, 126, 126);
  /* border: 1px solid rgb(54, 7, 7); */
  color:rgb(5, 2, 2);
  padding: 8px;
  font-size: 15px;
  text-align: left;
  font-weight: bold;
}
#propertydetailscomponents{
  background-color:  rgb(206, 195, 195);
  /* border: 1px solid rgb(54, 7, 7); */
  color:rgb(5, 2, 2);
  padding: 8px; 
  font-size: 15px;
  text-align: left;

}
#sendmessagecontainer{
  background-color: rgb(53, 45, 45);
  padding: 10px;
  border-radius: 10px;
  color:aliceblue
}
#linktagsincontactas{
  color:black;
}
.qrcodelabel{
  /* border: rgb(65, 18, 18) 4px solid; */
 
 color:#26617c;
  /* width:6px; */
}
#textareainrequestpage{
  height: 80px;
  width:200px;
}
#textareainrequestermobile{
  height: 80px;
  width:200px;
}
.textareainindividualpage{
  height: 60px;
  width:200px;
}
#individualpropertyfeatures{
  text-align:left;
}
.center-container{
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  /* height: 100vh;  */
}
 /* .features-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 

  text-align: center;
} */
.features {
  /* background: #f5f5f5; */
  /* font-size: 2vw; */
  font-size: 14px;
  max-width: 800px;
  margin: auto;
  line-height: 1;
  word-wrap: break-word;


}
.textarea-features {
  width: 850px; /* Increase width */
  height: 50px; /* Increase height */
  font-size: 16px; /* Increase text size */
  padding: 10px;
  border-radius: 8px;
}
#regtop{
  padding-top: 70px;
  padding-bottom: 40px;

} 
#containerspace{
  margin-top: 80px !important; 
  width: 100%;
}


